body{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color:#e6e0f8;
    width: 40%;
    font-family: "Sour Gummy", serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100vh;
}
  
header h1 {
    text-align: center;
    margin-top: 0;
}

header {
    padding: 8px;
    background-color: #8682ff;
    position: relative;
}

header p {
    border: 2px solid #8682ff;
    width: 124px;
    padding: 10px;
    text-align: center;
    top: 85%;
    right: 0%;
    position: absolute;
}

.add-todo {
    margin-left: 5px;
}

.add-todo form h2 {
    font-size: larger;
    margin-bottom: 4px;
}

.add-todo form input {
    border: 1px solid #8682ff;
    border-radius: 6px;
}

.add-todo form button {
    background: #8682ff;
    border: none;
    border-radius: 5px;
    padding: 2px 15px;
    color: #e6e0f8;
}

.today-todo {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}

.today-todo h2 {
    text-align: center;
}

.today-todo ul {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.today-todo ul li {
    list-style: none;
    border-bottom: 1px solid;
    padding-bottom: 9px;
    display: flex;
    justify-content: space-between;
}

div.done-not i.tick{
    background: rgb(103, 255, 103);
    padding: 3px;
    color: white;
    margin-right: 4px;
}

div.done-not i.x{
    background: rgb(249, 51, 51);
    padding: 3px 6px 3px 6px;
    color: white;
    margin-right: 4px;
}

div.done-not i.pen {
    background: #ffffbd;
    padding: 3px;
    margin-right: 4px;
}

div.done-not i.tick:hover, div.done-not i.x:hover, div.done-not i.pen:hover{
    cursor: pointer;
}

.done {
    display: flex;
    flex-direction: column;
}

.done h2 {
    text-align: center;
    margin-top: 93px;
    text-decoration: underline;
}

.done ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.done ul li {
    list-style: none;
}

i.finished{
    background: #8682ff;
    padding: 3px;
    color: white;
    margin-right: 4px;
}

i.finished:hover{
    cursor: not-allowed;
}

.auth {
    display: flex;
    justify-content: space-between;
}

.auth a {
    color: #e6e0f8;
    text-decoration: none;
    background: #4743dd;
    padding: 8px 13px;
    border-radius: 8px;
}

.auth a:hover{
    background: #8682ff;
    border: 1px solid #4743dd;
    color: #4743dd;
}

p.no-user {
    width: 70%;
    margin:  60px auto 0 auto;
    font-size: larger;
    text-align: center;
    color: grey;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

p.no-user a{
    text-decoration: none;
}

p.empty{
    text-align: center;
    color: gray;
    margin-left: -10px;
}



